<div class="card">
  <div
    class="card-header d-flex align-items-center justify-content-between bg-light-subtle flex-wrap"
  >
    <h4 class="card-title">Agent</h4>
    <div class="w-25">
      <form class="app-search d-none d-md-block">
        <div class="position-relative">
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            autocomplete="off"
            value=""
          />
          <iconify-icon
            icon="solar:magnifer-broken"
            class="search-widget-icon"
          ></iconify-icon>
        </div>
      </form>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="position-relative">
          <img
            src="assets/images/properties/p-12.jpg"
            alt=""
            class="img-fluid rounded border border-light border-4"
          />
        </div>
      </div>
    </div>
  </div>
</div>
