<app-agenttopbar></app-agenttopbar>
<app-agentdashboard></app-agentdashboard>

<div class="main-layout">
    <div class="page-layout">
      <div class="container">
        <div class="header">

            <div class="form-group">
              <label for="property">Property</label>
              <select id="property" name="property" required>
                <option value="" disabled selected>Select Property</option>
                <option value="Villa">Villa</option>
                <option value="Apartment">Apartmnet</option>
                <option value="Independent">Independent</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="date">Lead Added</label>
              <select id="date" name="date">
                <option value="" disabled selected>Select Date Range</option>
                <option value="Today">Today</option>
                <option value="This Week">This Week</option>
                <option value="This Month">This Month</option>
                <option value="Last 3 Months">Last 3 Months</option>
              </select>
            </div>
            
  
            <div class="form-group">
              <label for="state">State</label>
              <select id="state" name="state" required>
                <option value="" disabled selected>Select State</option>
                <option value="Telangana">Telangana</option>
                <option value="Ap">Ap</option>
                <option value="Orissa">Orissa</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="city">City</label>
              <select id="city" name="city" required>
                <option value="" disabled selected>Select City</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="Vizag">Vizag</option>
                <option value="Nanakramguda">Nanakramguda</option>
              </select>
            </div>
  
            <div class="form-group">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
  
           </div>
        <div class="table-view">
            <table>
              <thead>
                <tr>
                  <th>lead Name</th>
                  <th>Location</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Pincode</th>
                  <th>PhoneNo</th>
                  <th>Type</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let lead of leads; let i=index">
                  <td>{{ lead.name }}</td>
                  <td>{{ lead.location }}</td>
                  <td>{{lead.city }}</td>
                  <td>{{ lead.state }}</td>
                  <td>{{ lead.pincode }}</td>
                  <!-- <td>{{ property.price | currency }}</td> -->
                  <td>{{ lead.phoneNumber }} </td>
                  <td>{{ lead.type }}</td>
                  <td>{{ lead.status }}</td>
                  <!-- <td><button (click)="toggleView(i)" class="view-btn"><i class="fa fa-eye"></i></button></td> -->
                </tr>
              </tbody>
            </table>
          </div>
</div>
</div>
</div>
