<app-page-title title="Dashboards" subTitle="Agent" />

<agent-statistics />

<div class="row">
  <div class="col-xl-9">
    <div class="row">
      <div class="col-lg-6">
        <agent-sales-funnel />
      </div>
      <div class="col-lg-6">
        <agent-revenue />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <recent-agent />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <agent-collection />
      </div>
      <div class="col-lg-7">
        <agent-session-by-country />
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <top-agent />

    <agent-goals />

    <agent-recent-join />
  </div>
</div>
