<header class="">
  <div class="topbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="d-flex align-items-center gap-2">
          <div class="topbar-item">
            <button
              type="button"
              (click)="toggleMobileMenu()"
              class="button-toggle-menu topbar-button"
            >
              <i class="ri-menu-2-line fs-24"></i>
            </button>
          </div>

          <form class="app-search d-none d-md-block me-auto">
            <div class="position-relative">
              <input
                type="search"
                class="form-control border-0"
                placeholder="Search..."
                autocomplete="off"
                value=""
              />
              <i class="ri-search-line search-widget-icon"></i>
            </div>
          </form>
        </div>

        <div class="d-flex align-items-center gap-1">
          <div class="topbar-item">
            <button
              type="button"
              class="topbar-button"
              (click)="changeTheme()"
              id="light-dark-mode"
            >
              <i class="ri-moon-line fs-24 light-mode"></i>
              <i class="ri-sun-line fs-24 dark-mode"></i>
            </button>
          </div>

          <div class="dropdown topbar-item d-none d-lg-flex">
            <button
              type="button"
              class="topbar-button"
              (click)="fullscreen()"
              data-toggle="fullscreen"
            >
              <i class="ri-fullscreen-line fs-24 fullscreen"></i>
              <i class="ri-fullscreen-exit-line fs-24 quit-fullscreen"></i>
            </button>
          </div>

          <div ngbDropdown class="topbar-item">
            <button
              ngbDropdownToggle
              type="button"
              class="topbar-button position-relative arrow-none"
              id="page-header-notifications-dropdown"
            >
              <i class="ri-notification-3-line fs-24"></i>
              <span
                class="position-absolute topbar-badge fs-10 translate-middle badge bg-danger rounded-pill"
                >3<span class="visually-hidden">unread messages</span></span
              >
            </button>
            <div
              ngbDropdownMenu
              class="py-0 dropdown-lg dropdown-menu-end"
              aria-labelledby="page-header-notifications-dropdown"
            >
              <div
                class="p-3 border-top-0 border-start-0 border-end-0 border-dashed border"
              >
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="m-0 fs-16 fw-semibold">Notifications</h6>
                  </div>
                  <div class="col-auto">
                    <a
                      href="javascript: void(0);"
                      class="text-dark text-decoration-underline"
                    >
                      <small>Clear All</small>
                    </a>
                  </div>
                </div>
              </div>
              <ngx-simplebar style="max-height: 280px">
                @for (item of notificationList; track $index) {
                  <a
                    href="javascript:void(0);"
                    class="dropdown-item py-3 border-bottom text-wrap"
                  >
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        @if (item.icon) {
                          <img
                            [src]="item.icon"
                            class="img-fluid me-2 avatar-sm rounded-circle"
                            alt="avatar-1"
                          />
                        } @else {
                          <div class="avatar-sm me-2">
                            <span
                              class="avatar-title bg-soft-info text-info fs-20 rounded-circle"
                            >
                              {{ item.from.charAt(0) }}
                            </span>
                          </div>
                        }
                      </div>
                      <div class="flex-grow-1">
                        <p class="mb-0">
                          <span class="fw-medium">{{ item.from }} </span>
                          <span>{{ item.content }}</span>
                        </p>
                      </div>
                    </div>
                  </a>
                }
              </ngx-simplebar>
              <div class="text-center py-3">
                <a href="javascript:void(0);" class="btn btn-primary btn-sm"
                  >View All Notification <i class="ri-arrow-right-line ms-1"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="topbar-item d-none d-md-flex">
            <button
              type="button"
              class="topbar-button"
              id="theme-settings-btn"
              (click)="settingMenu()"
            >
              <i class="ri-settings-4-line fs-24"></i>
            </button>
          </div>

          <div ngbDropdown class="topbar-item">
            <a
              ngbDropdownToggle
              type="button"
              class="topbar-button arrow-none"
              id="page-header-user-dropdown"
            >
              <span class="d-flex align-items-center">
                <img
                  class="rounded-circle"
                  width="32"
                  src="assets/images/users/avatar-1.jpg"
                  alt="avatar-3"
                />
              </span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-end">
              <h6 class="dropdown-header">Welcome Gaston!</h6>

              <a class="dropdown-item" routerLink="/pages/calendar">
                <i class="bx bx-calendar align-middle me-2 fs-18"></i
                ><span class="align-middle">My Schedules</span>
              </a>

              <a class="dropdown-item" routerLink="/pages/pricing">
                <i class="bx bx-wallet-alt align-middle me-2 fs-18"></i
                ><span class="align-middle">Pricing</span>
              </a>
              <a class="dropdown-item" routerLink="/pages/faqs">
                <i class="bx bx-help-circle align-middle me-2 fs-18"></i
                ><span class="align-middle">Help</span>
              </a>
              <a class="dropdown-item" routerLink="/auth/lock-screen">
                <i class="bx bx-lock align-middle me-2 fs-18"></i
                ><span class="align-middle">Lock screen</span>
              </a>

              <div class="dropdown-divider my-1"></div>

              <a class="dropdown-item text-danger" (click)="logout()">
                <i class="bx bx-log-out align-middle me-2 fs-18"></i
                ><span class="align-middle">Logout</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
