.quotation-container {
  margin-left: 180px; // sidebar
  padding: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.quotation-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 14px;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
  }
}

.quotation-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .form-group {
    flex: 1 1 calc(50% - 20px);
    min-width: 250px;

    display: flex;        // use flex-column for each field
    flex-direction: column;

    label {
      margin-bottom: 5px; // space between label and input/select
      font-weight: 500;
    }

    input,
    select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }

  button{
    background-color: green;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 50%;
    border-radius: 8px;
  }
}
button{
    background-color: green;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 30%;
    border-radius: 8px;
  }