.main-layout {
    position: absolute;
    top: 70px;
    left: 250px;
    right: 0;
    bottom: 0;
    background: #f7f9fb;
    padding: 20px;
    height: 50vh;
  }
  
  .page-layout {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .table-view{
    max-height: 400px;
    overflow-y:scroll;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: auto;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #eee;
      font-size: 15px;
    }

    th {
      background: #e9f0f7;
      font-weight: 600;
      color: #333;
      font-size: 14px;
    }

    tr:hover {
      background: #f1f5f9;
    }
    .view-btn {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      color: #007bff;
      cursor: pointer;
      font-size: 20px;
      outline: none;
    }
       
  }
  
 .header {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;

  select {
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100%;
    max-width: 300px;

    &:focus {
      border-color: #007bff;
    }
  }

  .form-group button {
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;

    &:hover {
      border-color: #007bff;
    }
  }

  .form-group {
    display: flex;
    align-items: center;
  }
}