<div class="card">
  <div class="card-body">
    <div class="position-relative">
      <img
        src="assets/images/properties/p-1.jpg"
        alt=""
        class="img-fluid rounded bg-light"
      />
      <span class="position-absolute top-0 end-0 p-1">
        <span class="badge bg-success text-light fs-13">For Rent</span>
      </span>
    </div>
    <div class="mt-3">
      <h4 class="mb-1">
        Dvilla Residences Batu<span class="fs-14 text-muted ms-1"
          >(Residences)</span
        >
      </h4>
      <p class="mb-1">4604 , Philli Lane Kiowa U.S.A</p>
      <h5 class="text-dark fw-medium mt-3">Price :</h5>
      <h4 class="fw-semibold mt-2 text-muted">{{ currency }}8,930.00</h4>
    </div>
    <div class="row mt-2 g-2">
      <div class="col-lg-3 col-3">
        <span class="badge bg-light-subtle text-muted border fs-12">
          <span class="fs-16"
            ><iconify-icon
              icon="solar:bed-broken"
              class="align-middle"
            ></iconify-icon
          ></span>
          5 Beds
        </span>
      </div>
      <div class="col-lg-3 col-3">
        <span class="badge bg-light-subtle text-muted border fs-12">
          <span class="fs-16"
            ><iconify-icon
              icon="solar:bath-broken"
              class="align-middle"
            ></iconify-icon
          ></span>
          4 Bath
        </span>
      </div>
      <div class="col-lg-3 col-3">
        <span class="badge bg-light-subtle text-muted border fs-12">
          <span class="fs-16"
            ><iconify-icon
              icon="solar:scale-broken"
              class="align-middle"
            ></iconify-icon
          ></span>
          1400ft
        </span>
      </div>
      <div class="col-lg-3 col-3">
        <span class="badge bg-light-subtle text-muted border fs-12">
          <span class="fs-16"
            ><iconify-icon
              icon="solar:double-alt-arrow-up-broken"
              class="align-middle"
            ></iconify-icon
          ></span>
          3 Floor
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer bg-light-subtle">
    <div class="row g-2">
      <div class="col-lg-6">
        <a href="javascript:void(0);" class="btn btn-outline-primary w-100"
          >Add Property</a
        >
      </div>
      <div class="col-lg-6">
        <a href="javascript:void(0);" class="btn btn-danger w-100">Cancel</a>
      </div>
    </div>
  </div>
</div>
