<div class="card overflow-hidden">
  <div class="card-header">
    <h4 class="card-title">Recent Purchase Property</h4>
  </div>
  <div class="card-body">
    <div class="position-relative">
      <img
        src="assets/images/properties/p-10.jpg"
        alt=""
        class="img-fluid rounded-top"
      />
      <span class="position-absolute top-0 end-0 p-1">
        <span class="badge bg-danger text-white fs-13">Sold</span>
      </span>
    </div>
    <div class="d-flex align-items-center gap-2 mt-3 pt-1">
      <div class="avatar bg-light rounded">
        <iconify-icon
          icon="solar:buildings-3-bold-duotone"
          class="fs-24 text-primary avatar-title"
        ></iconify-icon>
      </div>
      <div>
        <a href="javascript:void(0);" class="text-dark fw-medium fs-16"
          >Woodis B. Apartment</a
        >
        <p class="text-muted mb-0">Bungalow Road Niobrara</p>
      </div>
      <div class="ms-auto">
        <p class="fw-medium text-dark fs-18 mb-0">{{ currency }}80,675.00</p>
      </div>
    </div>
    <div class="row mt-2 g-2">
      <div class="col-lg-2 col-4">
        <span class="badge bg-light-subtle text-muted border fs-12">
          <span class="fs-16"
            ><iconify-icon
              icon="solar:bed-broken"
              class="align-middle"
            ></iconify-icon
          ></span>
          4 Beds
        </span>
      </div>
      <div class="col-lg-2 col-4">
        <span class="badge bg-light-subtle text-muted border fs-12">
          <span class="fs-16"
            ><iconify-icon
              icon="solar:bath-broken"
              class="align-middle"
            ></iconify-icon
          ></span>
          3 Bath
        </span>
      </div>
      <div class="col-lg-2 col-4">
        <span class="badge bg-light-subtle text-muted border fs-12">
          <span class="fs-16"
            ><iconify-icon
              icon="solar:scale-broken"
              class="align-middle"
            ></iconify-icon
          ></span>
          1700ft
        </span>
      </div>
      <div class="col-lg-2 col-4">
        <span class="badge bg-light-subtle text-muted border fs-12">
          <span class="fs-16"
            ><iconify-icon
              icon="solar:double-alt-arrow-up-broken"
              class="align-middle"
            ></iconify-icon
          ></span>
          6 Floor
        </span>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2 mt-3 pt-2">
      <div class="avatar">
        <img
          src="assets/images/users/avatar-6.jpg"
          alt="avatar-3"
          class="img-fluid rounded-circle"
        />
      </div>
      <div class="d-block">
        <span class="text-dark">
          <a href="javascript:void(0);" class="text-dark fw-medium fs-15"
            >Tiia Karppinen</a
          >
        </span>
        <p class="mb-0 fs-14 text-muted">tiiakarppinen&#64;teleworm.us</p>
      </div>
      <div class="ms-auto">
        <i class="ri-checkbox-circle-line fs-20 text-success"></i>
      </div>
    </div>
  </div>
</div>
