<div class="card">
  <div class="card-header">
    <h4 class="card-title">Customer Information</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <form>
          <div class="mb-3">
            <label for="customer-name" class="form-label">Customer Name</label>
            <input
              type="text"
              id="customer-name"
              class="form-control"
              placeholder="Full Name"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <form>
          <div class="mb-3">
            <label for="customer-email" class="form-label"
              >Customer Email</label
            >
            <input
              type="email"
              id="customer-email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <form>
          <div class="mb-3">
            <label for="customer-number" class="form-label"
              >Customer Number</label
            >
            <input
              type="number"
              id="customer-number"
              class="form-control"
              placeholder="Enter Number"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <form>
          <div class="mb-3">
            <label for="view-properties" class="form-label"
              >View Properties</label
            >
            <input
              type="number"
              id="view-properties"
              class="form-control"
              placeholder="Enter View Properties"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <form>
          <div class="mb-3">
            <label for="own-properties" class="form-label"
              >Own Properties</label
            >
            <input
              type="number"
              id="own-properties"
              class="form-control"
              placeholder="Enter Own Properties"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <form>
          <label for="invest-property" class="form-label"
            >Invest Property</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text fs-20 px-2 py-0"
              ><i class="ri-money-dollar-circle-line"></i
            ></span>
            <input
              type="number"
              id="invest-property"
              class="form-control"
              placeholder="000"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-12">
        <form>
          <div class="mb-3">
            <label for="customer-address" class="form-label"
              >Customer Address</label
            >
            <textarea
              class="form-control"
              id="customer-address"
              rows="3"
              placeholder="Enter address"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <div class="mb-3">
            <label for="customer-zipcode" class="form-label">Zip-Code</label>
            <input
              type="number"
              id="customer-zipcode"
              class="form-control"
              placeholder="zip-code"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <form>
            <label for="choices-city" class="form-label">City</label>
            <select
              selectFormInput
              class="form-control"
              id="choices-city"
              placeholder="Select City"
              name="choices-city"
            >
              <option value="">Choose a city</option>
              <optgroup label="UK">
                <option value="London">London</option>
                <option value="Manchester">Manchester</option>
                <option value="Liverpool">Liverpool</option>
              </optgroup>
              <optgroup label="FR">
                <option value="Paris">Paris</option>
                <option value="Lyon">Lyon</option>
                <option value="Marseille">Marseille</option>
              </optgroup>
              <optgroup label="DE" disabled>
                <option value="Hamburg">Hamburg</option>
                <option value="Munich">Munich</option>
                <option value="Berlin">Berlin</option>
              </optgroup>
              <optgroup label="US">
                <option value="New York">New York</option>
                <option value="Washington" disabled>Washington</option>
                <option value="Michigan">Michigan</option>
              </optgroup>
              <optgroup label="SP">
                <option value="Madrid">Madrid</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Malaga">Malaga</option>
              </optgroup>
              <optgroup label="CA">
                <option value="Montreal">Montreal</option>
                <option value="Toronto">Toronto</option>
                <option value="Vancouver">Vancouver</option>
              </optgroup>
            </select>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <form>
            <label for="choices-country" class="form-label">Country</label>
            <select
              selectFormInput
              class="form-control"
              id="choices-country"
              placeholder="Select Country"
              name="choices-country"
            >
              <option value="">Choose a country</option>
              <optgroup label="">
                <option value="">United Kingdom</option>
                <option value="Fran">France</option>
                <option value="Netherlands">Netherlands</option>
                <option value="U.S.A">U.S.A</option>
                <option value="Denmark">Denmark</option>
                <option value="Canada">Canada</option>
                <option value="Australia">Australia</option>
                <option value="India">India</option>
                <option value="Germany">Germany</option>
                <option value="Spain">Spain</option>
                <option value="United Arab Emirates">
                  United Arab Emirates
                </option>
              </optgroup>
            </select>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <form>
          <div class="mb-3">
            <label for="facebook-url" class="form-label">Facebook URL</label>
            <input
              type="url"
              id="facebook-url"
              class="form-control"
              placeholder="Enter URL"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <div class="mb-3">
            <label for="instagram-url" class="form-label">Instagram URL</label>
            <input
              type="url"
              id="instagram-url"
              class="form-control"
              placeholder="Enter URL"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <div class="mb-3">
            <label for="twitter-url" class="form-label">Twitter URL</label>
            <input
              type="url"
              id="twitter-url"
              class="form-control"
              placeholder="Enter URL"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="mb-3">
          <form>
            <label for="choices-status" class="form-label">Status</label>
            <select
              selectFormInput
              class="form-control"
              id="choices-status"
              placeholder="Select status"
              name="choices-status"
            >
              <option value="">Choose a Status</option>
              <optgroup label="">
                <option value="available">Available</option>
                <option value="Fran">Unavailable</option>
              </optgroup>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
