.main-layout {
    position: absolute;
    top: 70px;
    left: 250px;
    right: 0;
    bottom: 0;
    background: #f7f9fb;
    padding: 20px;
    height: 50vh;
  }
  
  .page-layout {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .table-view{
    max-height: 400px;
    overflow-y:scroll;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: auto;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #eee;
      font-size: 15px;
    }

    th {
      background: #e9f0f7;
      font-weight: 600;
      color: #333;
      font-size: 14px;
    }

    tr:hover {
      background: #f1f5f9;
    }

    li{
      list-style-type: none;
    }
}

.send-btnn{
  border: 1px solid black;
    border-radius:4px ;
    background-color: green;
    color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;

    .form-group{
      padding: 10px;
    }
  }
  
    .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.modal-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-content .form-group input,
.modal-content .form-group select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
   .send-btn{
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 140px;
    font-size: 16px;
  }
  
  .send-btn:hover, .cancel-btn:hover {
    background-color: #45a049;
  }

  .close-btn{
     position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
      color: red;
  }

    .header {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;

  select {
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    width: 100%;
    max-width: 300px;

    &:focus {
      border-color: #007bff;
    }
  }
   .form-group button {
    padding: 10px 14px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;

    &:hover {
      border-color: #007bff;
    }
  }

  .form-group {
    display: flex;
    align-items: center;
  }
}