<div class="card">
  <div class="card-body">
    <div class="d-flex flex-wrap align-items-center gap-3">
      <div class="position-relative">
        <img
          src="assets/images/users/avatar-2.jpg"
          alt="avatar-2"
          class="avatar-xl user-img img-thumbnail rounded-circle"
        />
        <div
          class="badge bg-success rounded-2 position-absolute bottom-0 start-50 translate-middle-x mb-n1 fs-11"
        >
          # 1
        </div>
      </div>
      <div class="d-block">
        <a href="javascript:void(0);" class="text-dark fw-medium fs-16"
          >Michael A. Miner</a
        >
        <p class="mb-0">michaelminer&#64;dayrep.com</p>
      </div>
      <div class="ms-lg-auto">
        <a href="javascript:void(0);" class="btn btn-primary">Message</a>
        <a href="javascript:void(0);" class="btn btn-outline-secondary ms-1"
          >Work With Michael</a
        >
      </div>
    </div>
    <div class="mt-3">
      <p class="d-flex align-items-center gap-2">
        <iconify-icon
          icon="solar:map-point-wave-bold-duotone"
          class="fs-18 text-primary"
        ></iconify-icon
        >Lincoln Drive Harrisburg, PA 17101 U.S.A
      </p>
      <p class="d-flex align-items-center gap-2">
        <iconify-icon
          icon="solar:outgoing-call-rounded-bold-duotone"
          class="fs-18 text-primary"
        ></iconify-icon
        >+123 864-357-7713
      </p>

      <h4 class="card-title mb-2 mt-3">Social Media :</h4>
      <ul class="list-inline d-flex gap-1 mb-0 mt-3 align-items-center">
        <li class="list-inline-item">
          <a
            href="javascript: void(0);"
            class="btn btn-soft-primary avatar-sm d-flex align-items-center justify-content-center fs-20"
          >
            <i class="ri-facebook-fill"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a
            href="javascript: void(0);"
            class="btn btn-soft-danger avatar-sm d-flex align-items-center justify-content-center fs-20"
          >
            <i class="ri-instagram-line"></i>
          </a>
        </li>

        <li class="list-inline-item">
          <a
            href="javascript: void(0);"
            class="btn btn-soft-info avatar-sm d-flex align-items-center justify-content-center fs-20"
          >
            <i class="ri-twitter-line"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            href="javascript: void(0);"
            class="btn btn-soft-success avatar-sm d-flex align-items-center justify-content-center fs-20"
          >
            <i class="ri-whatsapp-line"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a
            href="javascript: void(0);"
            class="btn btn-soft-warning avatar-sm d-flex align-items-center justify-content-center fs-20"
          >
            <i class="ri-mail-line"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="mt-4">
      <h4 class="card-title mb-2">About Michael :</h4>
      <p class="mb-2">
        Meet Michael, a dedicated and experienced real estate agent who is
        committed to making your real estate journey smooth and successful. With
        a passion for helping clients achieve their dreams, Michael brings a
        wealth of knowledge and expertise to every transaction.
      </p>
      <p class="mb-2">
        Michael has been a prominent figure in the real estate industry for over
        a decade. His career began with a focus on residential properties,
        quickly expanding to include commercial real estate and investment
        properties. Michael's extensive experience and deep understanding of the
        market allow him to navigate even the most complex transactions with
        ease.
      </p>
      <p class="mb-2">
        <span class="fw-medium text-dark">Agency</span
        ><span class="mx-2">:</span>Universo Realtors
      </p>
      <p class="mb-2">
        <span class="fw-medium text-dark">Agent License</span
        ><span class="mx-2">:</span>LC-5758-2048-3944
      </p>
      <p class="mb-2">
        <span class="fw-medium text-dark">Text Number</span
        ><span class="mx-2">:</span>TC-9275-PC-55685
      </p>
      <p class="mb-2">
        <span class="fw-medium text-dark">Services Area</span
        ><span class="mx-2">:</span>Lincoln Drive Harrisburg
      </p>
      <div class="my-2">
        <a href="javascript:void(0);" class="link-primary fw-medium"
          >Viw More <i class="ri-arrow-right-line"></i
        ></a>
      </div>
    </div>
    <div class="mt-4">
      <h4 class="card-title mb-3">Property Status :</h4>
      <div class="row g-2">
        @for (item of propertyStatusData; track $index) {
          <div class="col-xl-4 col-lg-6">
            <div class="card mb-0 shadow-none border">
              <div class="card-body">
                <div class="row justify-content-between align-items-center">
                  <div class="col-xl-5">
                    <div class="avatar bg-primary bg-opacity-10 rounded mb-3">
                      <iconify-icon
                        [icon]="item.icon"
                        class="fs-28 text-primary avatar-title"
                      ></iconify-icon>
                    </div>
                    <p class="fw-medium fs-15 mb-1">{{ item.title }}</p>
                    <p class="mb-0 fw-semibold text-dark fs-20">
                      {{ item.count }}
                    </p>
                  </div>
                  <div class="col-lg-6">
                    <div id="property_sale" class="apex-charts">
                      <apx-chart
                        [chart]="statusChart.chart!"
                        [series]="[item.progress]"
                        [colors]="[item.variant]"
                        [plotOptions]="statusChart.plotOptions!"
                        [grid]="statusChart.grid!"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="mt-4">
      <h4 class="card-title mb-3">Reviews :</h4>
      <div class="row">
        @for (item of reviewData; track $index) {
          <div class="col-lg-6">
            <div class="card bg-light-subtle mb-0">
              <div class="card-body">
                <div class="d-flex align-items-center gap-2">
                  <img
                    [src]="item.image"
                    alt=""
                    class="rounded-circle avatar-md"
                  />
                  <div>
                    <h5 class="fw-semibold text-dark mb-1">{{ item.name }}</h5>
                    <p class="m-0">
                      &#64;{{ item.userName }}
                      <span class="ms-1">({{ item.country }})</span>
                    </p>
                  </div>
                </div>
                <p class="my-3">"{{ item.description }} "</p>
                <ul class="d-flex m-0 list-unstyled">
                  <ng-template #t let-fill="fill" let-index="index">
                    <i class="ri-star-line text-warning fs-18">
                      @if (fill > 0) {
                        <i
                          class="ri-star-fill text-warning filled fs-18"
                          [style.width.%]="fill"
                        ></i>
                      }
                    </i>
                  </ng-template>

                  <ngb-rating
                    [rate]="4.5"
                    [starTemplate]="t"
                    [readonly]="true"
                    [max]="5"
                  />
                </ul>
                <p class="fw-medium text-muted mb-0">{{ item.day }} Days Ago</p>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
    <h4 class="card-title mt-4">Property File :</h4>
    <div class="mt-3 d-flex flex-wrap gap-2">
      @for (item of propertyFiles; track $index) {
        <div
          class="d-flex p-2 gap-2 bg-light-subtle align-items-center text-start position-relative border rounded"
        >
          <iconify-icon
            [icon]="item.icon"
            class="text-{{ item.variant }} fs-24"
          ></iconify-icon>
          <div>
            <h4 class="fs-14 mb-1">
              <a href="javascript:void(0);" class="text-dark stretched-link">{{
                item.name
              }}</a>
            </h4>
            <p class="fs-12 mb-0">{{ item.data }} MB</p>
          </div>
          <i class="ri-download-cloud-line fs-20 text-muted"></i
          ><i class=""></i>
        </div>
      }
    </div>
  </div>
</div>
