<app-page-title title="Dashboards" subTitle="Customers" />

<div class="row">
  <div class="col-xl-8 col-lg-12">
    <customer-state />
  </div>
  <div class="col-xl-4 col-xl-4">
    <customer-property-investor />
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <customer-invest />
  </div>
  <div class="col-lg-6">
    <customer-by-country />
  </div>
</div>
<div class="row">
  <div class="col-xl-4 col-lg-6">
    <top-customer />
  </div>
  <div class="col-xl-4 col-lg-6">
    <customer-visit />
  </div>
  <div class="col-xl-4 col-lg-6">
    <customer-recent-purchase />
  </div>
</div>
