<app-agenttopbar></app-agenttopbar>
<app-agentdashboard></app-agentdashboard>

<div class="main-layout">
    <div class="page-layout">
      <div class="container">
        <div class="form-container">
            <form   class="lead-form" [formGroup]="leadForm" (ngSubmit)="addLead()" >
      <div class="form-group">
                    <label for="leadName">Lead Name</label>
                    <input type="text" id="leadName"  formControlName="leadName" placeholder="Ravi Kumar">
                     <div class="error" *ngIf="f['leadName'].touched && f['leadName'].invalid">
      <small *ngIf="f['leadName'].errors?.['required']">Lead Name is required.</small>
      <small *ngIf="f['leadName'].errors?.['pattern']">
        Only alphabetic characters are allowed.
      </small>
    </div>
                </div>
            
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="tel" id="phoneNumber"   formControlName="phoneNumber" placeholder="7894561230">
            <div class="error" *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid || f['phoneNumber'].dirty">
      <small *ngIf="f['phoneNumber'].errors?.['required']">phoneNumber is required.</small>
      <small *ngIf="f['phoneNumber'].errors?.['pattern']">
        Enter a valid 10‑digit phone number.
      </small>
    </div>
    </div>
            
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" formControlName="email" placeholder="ravi@example.com">
                        <div class="error" *ngIf="f['email'].touched && f['email'].invalid">
      <small *ngIf="f['email'].errors?.['required']">Email is required.</small>
      <small *ngIf="f['email'].errors?.['email']">
        Enter a valid email address.
      </small>
    </div>
    </div>
            
                <!-- Lead Details -->
                <div class="form-group">
                    <label for="leadSource">Lead Source</label>
                    <select id="leadSource" formControlName="leadSource">
                        <option value="" disabled selected>Select Source</option>
                        <option value="Website">Website</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Google Ads">Google Ads</option>
                        <option value="Referral">Referral</option>
                        <option value="Walk-in">Walk-in</option>
                        <option value="Cold Call">Cold Call</option>
                    </select>
                    <div class="error" *ngIf="f['leadSource'].touched && f['leadSource'].invalid">
      <small *ngIf="f['leadSource'].errors?.['required']">Lead source is required.</small>
    </div>
</div>
            
                <div class="form-group">
                    <label for="interestedIn">Interested In</label>
                    <select id="interestedIn" formControlName="interestedIn">
                        <option value="" disabled selected>Select Type</option>
                        <option value="Apartment">Apartment</option>
                        <option value="Villa">Villa</option>
                        <option value="Plot">Plot</option>
                        <option value="Commercial Property">Commercial Property</option>
                    </select>
                    <div class="error" *ngIf="f['interestedIn'].touched && f['interestedIn'].invalid">
      <small *ngIf="f['interestedIn'].errors?.['required']">Property Prefernce is required.</small>
    </div>
    </div>
            
                <div class="form-group">
                    <label for="preferredLocation">Preferred Location</label>
                    <input type="text" id="preferredLocation" formControlName="preferredLocation" placeholder="Kondapur, Hyderabad">
                    <div class="error" *ngIf="f['preferredLocation'].touched && f['preferredLocation'].invalid">
      <small *ngIf="f['preferredLocation'].errors?.['required']">preferred Location is required.</small>
      <small *ngIf="f['preferredLocation'].errors?.['pattern']">
        Only alphabetic characters are allowed.
      </small>
      </div>
    </div>
            
                <div class="form-group">
                    <label for="budget">Estimated Budget (₹)</label>
                    <input type="number" id="budget" formControlName="estimatedBudget" placeholder="6000000">
                    <div class="error" *ngIf="f['estimatedBudget'].touched && f['estimatedBudget'].invalid || f['phoneNumber'].dirty">
      <small *ngIf="f['estimatedBudget'].errors?.['required']">Budget is required.</small>
      <small *ngIf="f['estimatedBudget'].errors?.['pattern']">
        Enter a valid Budget.
      </small>
    </div>
    </div>
            
              
            
                <div class="form-group">
                    <label for="leadStatus">Lead Status</label>
                    <select id="leadStatus" formControlName="leadStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="New">New</option>
                        <option value="Contacted">Contacted</option>
                        <option value="Interested">Interested</option>
                        <option value="Not Interested">Not Interested</option>
                        <option value="Converted">Converted</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <div class="error" *ngIf="f['leadStatus'].touched && f['leadSource'].invalid">
      <small *ngIf="f['leadStatus'].errors?.['required']">Status is required.</small>
    </div>
</div>
            
                    <div class="form-group">
                    <label for="followUpDate">Next Follow-Up Date</label>
                    <input type="date" id="followUpDate" formControlName="followUp">
                    <div class="error" *ngIf="f['followUp'].touched && f['followUp'].invalid">
                    <small *ngIf="f['followUp'].errors?.['required']">followUpDate is required.</small>
                    </div>
                    </div>
            
                <div class="form-group">
                    <label for="notes">Lead Notes</label>
                    <textarea id="notes" formControlName="leadNotes" rows="4" placeholder="Add any extra information about the lead..."></textarea>
                </div>
            
                <div class="button">
                    <button type="submit">Add Lead</button>
                </div>
                
            </form>
        </div>
        
    </div>
</div>
</div>
