<div class="card">
  <div class="card-header">
    <h4 class="card-title">Property Photos</h4>
  </div>
  <div class="card-body">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <ngb-carousel [showNavigationIndicators]="false" class="carousel-inner">
        <ng-template ngbSlide>
          <img
            src="assets/images/properties/p-1.jpg"
            class="d-block w-100 rounded"
            alt="img-6"
          />
          <div
            class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start"
          >
            <div class="d-flex align-items-center gap-2">
              <div class="avatar bg-primary rounded">
                <iconify-icon
                  icon="solar:home-bold-duotone"
                  class="fs-24 text-white avatar-title"
                ></iconify-icon>
              </div>
              <div>
                <a href="javascript:void(0);" class="text-dark fw-medium fs-16"
                  >Dvilla Residences Batu</a
                >
                <p class="text-muted mb-0">4604 , Philli Lane Kiowa</p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="assets/images/properties/p-2.jpg"
            class="d-block w-100 rounded"
            alt="img-7"
          />
          <div
            class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start"
          >
            <div class="d-flex align-items-center gap-2">
              <div class="avatar bg-primary rounded">
                <iconify-icon
                  icon="solar:home-bold-duotone"
                  class="fs-24 text-white avatar-title"
                ></iconify-icon>
              </div>
              <div>
                <a href="javascript:void(0);" class="text-dark fw-medium fs-16"
                  >PIK Villa House</a
                >
                <p class="text-muted mb-0">27, Boulevard Cockeysville</p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="assets/images/properties/p-3.jpg"
            class="d-block w-100 rounded"
            alt="img-5"
          />
          <div
            class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start"
          >
            <div class="d-flex align-items-center gap-2">
              <div class="avatar bg-primary rounded">
                <iconify-icon
                  icon="solar:home-bold-duotone"
                  class="fs-24 text-white avatar-title"
                ></iconify-icon>
              </div>
              <div>
                <a href="javascript:void(0);" class="text-dark fw-medium fs-16"
                  >Tungis Luxury</a
                >
                <p class="text-muted mb-0">900 , Creside WI 54913</p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="assets/images/properties/p-4.jpg"
            class="d-block w-100 rounded"
            alt="img-5"
          />
          <div
            class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start"
          >
            <div class="d-flex align-items-center gap-2">
              <div class="avatar bg-primary rounded">
                <iconify-icon
                  icon="solar:buildings-3-bold-duotone"
                  class="fs-24 text-white avatar-title"
                ></iconify-icon>
              </div>
              <div>
                <a href="javascript:void(0);" class="text-dark fw-medium fs-16"
                  >Luxury Apartment</a
                >
                <p class="text-muted mb-0">223 , Creside Santa Maria</p>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img
            src="assets/images/properties/p-5.jpg"
            class="d-block w-100 rounded"
            alt="img-5"
          />
          <div
            class="carousel-caption d-none d-md-block bg-light rounded p-2 text-start"
          >
            <div class="d-flex align-items-center gap-2">
              <div class="avatar bg-primary rounded">
                <iconify-icon
                  icon="solar:home-bold-duotone"
                  class="fs-24 text-white avatar-title"
                ></iconify-icon>
              </div>
              <div>
                <a href="javascript:void(0);" class="text-dark fw-medium fs-16"
                  >Weekend Villa MBH</a
                >
                <p class="text-muted mb-0">980, Jim Rosa Lane Dublin</p>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
