<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card auth-card text-center">
      <div class="card-body">
        <div class="mx-auto my-5 text-center">
          <a routerLink="/">
            <img
              src="assets/images/logo-dark.png"
              alt="logo-dark"
              height="32"
            />
          </a>
        </div>

        <h2 class="fw-bold text-uppercase">We Are Launching Soon...</h2>
        <p class="lead mt-3 w-75 mx-auto pb-4 fst-italic">
          Exciting news is on the horizon! We're thrilled to announce that
          something incredible is coming your way very soon.
        </p>

        <div class="row my-5">
          <div class="col">
            <h3 id="days" class="fw-bold fs-60">{{ countdown.days }}</h3>
            <p class="text-uppercase fw-semibold">Days</p>
          </div>
          <div class="col">
            <h3 id="hours" class="fw-bold fs-60">{{ countdown.hours }}</h3>
            <p class="text-uppercase fw-semibold">Hours</p>
          </div>
          <div class="col">
            <h3 id="minutes" class="fw-bold fs-60">{{ countdown.minutes }}</h3>
            <p class="text-uppercase fw-semibold">Minutes</p>
          </div>
          <div class="col">
            <h3 id="seconds" class="fw-bold fs-60">{{ countdown.seconds }}</h3>
            <p class="text-uppercase fw-semibold">Seconds</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
