<app-page-title title="Real Estate" subTitle="Add Agent" />

<div class="row">
  <div class="col-xl-3 col-lg-4">
    <agent-card />
  </div>

  <div class="col-xl-9 col-lg-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Agent Photo</h4>
      </div>
      <div class="card-body">
        <FileUploader />
      </div>
    </div>

    <agent-info />

    <div class="mb-3 rounded">
      <div class="row justify-content-end g-2">
        <div class="col-lg-2">
          <a href="javascript:void(0);" class="btn btn-outline-primary w-100"
            >Create Agent</a
          >
        </div>
        <div class="col-lg-2">
          <a href="javascript:void(0);" class="btn btn-danger w-100">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
