<div class="border-start border-light border-end h-100">
  <div class="p-3">
    <div class="d-flex justify-content-between align-items-center gap-2">
      <button
        type="button"
        class="btn p-0 d-lg-none d-flex"
        data-bs-dismiss="offcanvas"
        data-bs-target="#emaillist"
        aria-label="Close"
      >
        <i class="ri-expand-right-line fs-22"></i>
      </button>
      <h5 class="mb-0 text-dark d-flex align-items-center gap-1">
        <iconify-icon
          icon="solar:inbox-bold-duotone"
          class="align-middle"
        ></iconify-icon>
        Inbox Mail
      </h5>
      <div ngbDropdown>
        <a
          ngbDropdownToggle
          href="javascript: void(0);"
          class="arrow-none text-dark"
        >
          <i class="ri-more-2-fill fs-18"></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu-end">
          <a class="dropdown-item" href="javascript: void(0);"
            ><i class="ri-user-line me-2"></i>View Profile</a
          >
          <a class="dropdown-item" href="javascript: void(0);"
            ><i class="ri-music-2-line me-2"></i>Media, Links and Docs</a
          >
          <a class="dropdown-item" href="javascript: void(0);"
            ><i class="ri-search-line me-2"></i>Search</a
          >
          <a class="dropdown-item" href="javascript: void(0);"
            ><i class="ri-image-line me-2"></i>Wallpaper</a
          >
          <a class="dropdown-item" href="javascript: void(0);"
            ><i class="ri-arrow-right-circle-line me-2"></i>More</a
          >
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-3">
      <form class="app-search d-none d-md-block w-100">
        <div class="position-relative">
          <input
            type="search"
            class="form-control"
            placeholder="Search"
            autocomplete="off"
            value=""
          />
          <iconify-icon
            icon="solar:magnifer-broken"
            class="search-widget-icon"
          ></iconify-icon>
        </div>
      </form>
    </div>
  </div>

  <div class="border-top border-light overflow-hidden">
    <ngx-simplebar style="max-height: calc(100vh - 301px)">
      <ul class="list-unstyled email-list-group mb-0">
        @for (usr of inboxUsers; track $index) {
          <li [class]="{ 'email-read-done': $index == 1 }">
            <div class="d-flex flex-column h-100 border-bottom">
              <a href="javascript:void(0);" class="d-block">
                <div
                  class="mail-select d-flex align-items-center p-3 m-1 rounded"
                  [ngClass]="{ selected: $index == 1 }"
                >
                  <div class="position-relative">
                    <img
                      [src]="usr.avatar"
                      alt=""
                      class="avatar rounded-circle flex-shrink-0"
                    />
                  </div>
                  <div class="d-block ms-3 flex-grow-1">
                    <div
                      class="d-flex justify-content-between align-items-center mb-1"
                    >
                      <h5
                        class="mb-0"
                        [ngClass]="{ 'text-white': $index == 1 }"
                      >
                        {{ usr.name }}
                      </h5>
                      <div>
                        <p
                          class="fs-13 mb-0"
                          [ngClass]="$index == 1 ? 'text-white' : 'text-muted'"
                        >
                          {{ usr.time | date: 'shortTime' }}
                        </p>
                      </div>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p
                        class="mb-0 d-flex align-items-center gap-1"
                        [ngClass]="$index == 1 ? 'text-white' : 'text-muted'"
                      >
                        {{ usr.emailMessage }}
                      </p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </li>
        }
        <li>
          <div class="d-flex justify-content-center my-2">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </li>
      </ul>
    </ngx-simplebar>
  </div>
</div>
