<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center gap-2 border-bottom pb-3">
      <img
        src="assets/images/users/avatar-2.jpg"
        alt=""
        class="avatar-lg rounded-3 border border-light border-3"
      />
      <div class="d-block">
        <a href="javascript:void(0);" class="text-dark fw-medium fs-16"
          >Michael A. Miner</a
        >
        <p class="mb-0">michaelminer&#64;dayrep.com</p>
        <p class="mb-0 text-primary"># 1</p>
      </div>
    </div>
    <p class="mt-3 d-flex align-items-center gap-2 mb-2">
      <iconify-icon
        icon="solar:home-bold-duotone"
        class="fs-18 text-primary"
      ></iconify-icon
      >243 Properties
    </p>
    <p class="d-flex align-items-center gap-2 mt-2">
      <iconify-icon
        icon="solar:map-point-wave-bold-duotone"
        class="fs-18 text-primary"
      ></iconify-icon
      >Lincoln Drive Harrisburg, PA 17101 U.S.A
    </p>
    <h5 class="my-3">Social Media :</h5>
    <ul class="list-inline d-flex gap-1 mb-0 align-items-center">
      <li class="list-inline-item">
        <a
          href="javascript: void(0);"
          class="btn btn-soft-primary avatar-sm d-flex align-items-center justify-content-center fs-20"
        >
          <i class="ri-facebook-fill"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a
          href="javascript: void(0);"
          class="btn btn-soft-danger avatar-sm d-flex align-items-center justify-content-center fs-20"
        >
          <i class="ri-instagram-line"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a
          href="javascript: void(0);"
          class="btn btn-soft-info avatar-sm d-flex align-items-center justify-content-center fs-20"
        >
          <i class="ri-twitter-line"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="javascript: void(0);"
          class="btn btn-soft-success avatar-sm d-flex align-items-center justify-content-center fs-20"
        >
          <i class="ri-whatsapp-line"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="javascript: void(0);"
          class="btn btn-soft-warning avatar-sm d-flex align-items-center justify-content-center fs-20"
        >
          <i class="ri-mail-line"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="card-footer bg-light-subtle">
    <div class="row g-2">
      <div class="col-lg-6">
        <a href="javascript:void(0);" class="btn btn-outline-primary w-100"
          >Add Agent</a
        >
      </div>
      <div class="col-lg-6">
        <a href="javascript:void(0);" class="btn btn-danger w-100">Cancel</a>
      </div>
    </div>
  </div>
</div>
