<div class="card">
  <div class="card-header">
    <h4 class="card-title">Venture Information</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="registerVenture" (ngSubmit)="addVenture()">
      <div class="row">
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="ventureName" class="form-label">Venture Name</label>
            <input type="text" id="ventureName" class="form-control" placeholder="Name" formControlName="ventureName" name="ventureName" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="ventureName" class="form-label">Venture Size</label>
            <input type="number" id="ventureSize" class="form-control" placeholder="Enter Size in acres"
              name="ventureSize" formControlName="ventureSize" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="phno" class="form-label">Contact Number</label>
            <input type="number" id="phno" class="form-control" placeholder="Phone Number" name="phno" formControlName="phno"  />
          </div>
        </div>
        <div class="col-lg-3">
          <label for="totalPlots" class="form-label">Total Plots</label>
          <div class="input-group mb-3">
            <!-- <span class="input-group-text fs-20 px-2 py-0"
              ><i class="ri-money-dollar-circle-line"></i
            ></span> -->
            <input type="number" id="totalPlots" class="form-control" name="totalPlots" [value]="totalPlots"
              placeholder="0" formControlName="totalPlots" readonly  />
          </div>
        </div>
        <div class="col-lg-3">
          <label for="availablePlots" class="form-label">Available Plots</label>
          <div class="input-group mb-3">
            <!-- <span class="input-group-text fs-20 px-2 py-0"
              ><i class="ri-money-dollar-circle-line"></i
            ></span> -->
            <input type="number" id="availablePlots" class="form-control" name="availablePlots" [value]="availablePlots"
              placeholder="0" readonly formControlName="availablePlots"  />
          </div>
        </div>
        <div class="col-lg-3">
          <label for="bookedPlots" class="form-label">Booked Plots</label>
          <div class="input-group mb-3">
            <!-- <span class="input-group-text fs-20 px-2 py-0"
              ><i class="ri-money-dollar-circle-line"></i
            ></span> -->
            <input type="number" id="bookedPlots" class="form-control" name="bookedPlots" [value]="bookedPlots"
              placeholder="0" readonly formControlName="bookedPlots"  />
          </div>
        </div>
        <div class="col-lg-3">
          <label for="soldPlots" class="form-label">Sold Plots</label>
          <div class="input-group mb-3">
            <!-- <span class="input-group-text fs-20 px-2 py-0"
              ><i class="ri-money-dollar-circle-line"></i
            ></span> -->
            <input type="number" id="soldPlots" class="form-control" name="soldPlots" [value]="soldPlots"
              placeholder="0" readonly formControlName="soldPlots"  />
          </div>
        </div>
        <div class="col-lg-12">
            <div class="mb-3">
              <label for="address" class="form-label">Venture Address</label>
              <textarea class="form-control" id="address" rows="3" placeholder="Enter address"
                name="address" formControlName="address"></textarea>
            </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-3">
            <label for="pincode" class="form-label">PinCode</label>
            <input type="number" id="pincode" class="form-control" placeholder="Enter Pincode" name="pincode" formControlName="pincode" />
          </div>
        </div>
        <div class="col-lg-4">
          <label for="city" class="form-label">City</label>
          <input type="text" id="city" class="form-control" placeholder="Enter City" name="city" formControlName="city" />
        </div>
        <div class="col-lg-4">
          <label for="state" class="form-label">State</label>
          <select selectFormInput class="form-control" id="state" placeholder="Select State" name="state" formControlName="state">
            <option value="">Choose a State</option>
            <optgroup label="India">
              <option value="Andhra Pradesh">Andhra Pradesh</option>
              <option value="Arunachal Pradesh">Arunachal Pradesh</option>
              <option value="Assam">Assam</option>
              <option value="Bihar">Bihar</option>
              <option value="Chhattisgarh">Chhattisgarh</option>
              <option value="Goa">Goa</option>
              <option value="Gujarat">Gujarat</option>
              <option value="Haryana">Haryana</option>
              <option value="Himachal Pradesh">Himachal Pradesh</option>
              <option value="Jharkhand">Jharkhand</option>
              <option value="Karnataka">Karnataka</option>
              <option value="Kerala">Kerala</option>
              <option value="Madhya Pradesh">Madhya Pradesh</option>
              <option value="Maharashtra">Maharashtra</option>
              <option value="Manipur">Manipur</option>
              <option value="Meghalaya">Meghalaya</option>
              <option value="Mizoram">Mizoram</option>
              <option value="Nagaland">Nagaland</option>
              <option value="Odisha">Odisha</option>
              <option value="Punjab">Punjab</option>
              <option value="Rajasthan">Rajasthan</option>
              <option value="Sikkim">Sikkim</option>
              <option value="Tamil Nadu">Tamil Nadu</option>
              <option value="Telangana">Telangana</option>
              <option value="Tripura">Tripura</option>
              <option value="Uttar Pradesh">Uttar Pradesh</option>
              <option value="Uttarakhand">Uttarakhand</option>
              <option value="West Bengal">West Bengal</option>
              <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
              <option value="Chandigarh">Chandigarh</option>
              <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman and Diu
              </option>
              <option value="Lakshadweep">Lakshadweep</option>
              <option value="Delhi">Delhi</option>
              <option value="Puducherry">Puducherry</option>
            </optgroup>
          </select>
        </div>
        <div class="col-lg-12 mt-4">
          <div class="mb-3">
            <label for="excelUpload" class="form-label">Upload Plot Details (Excel)</label>
            <input type="file" id="excelUpload" (change)="onFileChange($event)" accept=".xlsx, .xls"
              class="form-control" />
            <small class="form-text text-muted">
              Please upload an Excel file (.xls or .xlsx) with the following column headers:<br />
              <strong>
                Plot Number, Plot Size, Price, Status, Location, Facing, Corner Plot
              </strong><br />
              ⚠️ These column names must exactly match the above format (case-sensitive).
            </small>
          </div>
        </div>
        <div class="mb-3 rounded">
          <div class="row justify-content-end g-2">
            <div class="col-lg-2">
              <button type="submit" class="btn btn-outline-primary w-100">Add Venture</button>
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-danger w-100">Cancel</button>
            </div>            
          </div>
        </div>
      </div>
    </form>
  </div>
</div>