<div class="card">
  <div class="card-header">
    <h4 class="card-title">Property Information</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <form>
          <div class="mb-3">
            <label for="property-name" class="form-label">Property Name</label>
            <input
              type="text"
              id="property-name"
              class="form-control"
              placeholder="Name"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <form>
          <label for="property-categories" class="form-label"
            >Property Categories</label
          >
          <select
            selectFormInput
            class="form-control"
            id="property-categories"
            placeholder="Select Categories"
            name="choices-single-groups"
          >
            <option value="Villas">Villas</option>
            <option value="Residences">Residences</option>
            <option value="Bungalow">Bungalow</option>
            <option value="Apartment">Apartment</option>
            <option value="Penthouse">Penthouse</option>
          </select>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <label for="property-price" class="form-label">Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text fs-20 px-2 py-0"
              ><i class="ri-money-dollar-circle-line"></i
            ></span>
            <input
              type="number"
              id="property-price"
              class="form-control"
              placeholder="000"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <label for="property-for" class="form-label">Property For</label>
          <select
            selectFormInput
            class="form-control"
            id="property-for"
            placeholder="Select Categories"
            name="choices-single-groups"
          >
            <option value="Sale">Sale</option>
            <option value="Rent">Rent</option>
            <option value="Other">Other</option>
          </select>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <label for="property-bedroom" class="form-label">Bedroom</label>
          <div class="input-group mb-3">
            <span class="input-group-text fs-20"
              ><iconify-icon
                icon="solar:bed-broken"
                class="align-middle"
              ></iconify-icon
            ></span>
            <input
              type="number"
              id="property-bedroom"
              class="form-control"
              placeholder=""
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <label for="property-bathroom" class="form-label">Bathroom</label>
          <div class="input-group mb-3">
            <span class="input-group-text fs-20"
              ><iconify-icon
                icon="solar:bath-broken"
                class="align-middle"
              ></iconify-icon
            ></span>
            <input
              type="number"
              id="property-bathroom"
              class="form-control"
              placeholder=""
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <label for="property-square-foot" class="form-label"
            >Square Foot</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text fs-20"
              ><iconify-icon
                icon="solar:scale-broken"
                class="align-middle"
              ></iconify-icon
            ></span>
            <input
              type="number"
              id="property-square-foot"
              class="form-control"
              placeholder=""
            />
          </div>
        </form>
      </div>

      <div class="col-lg-4">
        <form>
          <label for="property-square-foot" class="form-label">Floor</label>
          <div class="input-group mb-3">
            <span class="input-group-text fs-20"
              ><iconify-icon
                icon="solar:double-alt-arrow-up-broken"
                class="align-middle"
              ></iconify-icon
            ></span>
            <input
              type="number"
              id="property-square-foot"
              class="form-control"
              placeholder=""
            />
          </div>
        </form>
      </div>

      <div class="col-lg-12">
        <form>
          <div class="mb-3">
            <label for="property-address" class="form-label"
              >Property Address</label
            >
            <textarea
              class="form-control"
              id="property-address"
              rows="3"
              placeholder="Enter address"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <div class="mb-3">
            <label for="property-zipcode" class="form-label">Zip-Code</label>
            <input
              type="number"
              id="property-zipcode"
              class="form-control"
              placeholder="zip-code"
            />
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <label for="choices-city" class="form-label">City</label>
          <select
            selectFormInput
            class="form-control"
            id="choices-city"
            placeholder="Select City"
            name="choices-city"
          >
            <option value="">Choose a city</option>
            <optgroup label="UK">
              <option value="London">London</option>
              <option value="Manchester">Manchester</option>
              <option value="Liverpool">Liverpool</option>
            </optgroup>
            <optgroup label="FR">
              <option value="Paris">Paris</option>
              <option value="Lyon">Lyon</option>
              <option value="Marseille">Marseille</option>
            </optgroup>
            <optgroup label="DE" disabled>
              <option value="Hamburg">Hamburg</option>
              <option value="Munich">Munich</option>
              <option value="Berlin">Berlin</option>
            </optgroup>
            <optgroup label="US">
              <option value="New York">New York</option>
              <option value="Washington" disabled>Washington</option>
              <option value="Michigan">Michigan</option>
            </optgroup>
            <optgroup label="SP">
              <option value="Madrid">Madrid</option>
              <option value="Barcelona">Barcelona</option>
              <option value="Malaga">Malaga</option>
            </optgroup>
            <optgroup label="CA">
              <option value="Montreal">Montreal</option>
              <option value="Toronto">Toronto</option>
              <option value="Vancouver">Vancouver</option>
            </optgroup>
          </select>
        </form>
      </div>
      <div class="col-lg-4">
        <form>
          <label for="choices-country" class="form-label">Country</label>
          <select
            selectFormInput
            class="form-control"
            id="choices-country"
            placeholder="Select Country"
            name="choices-country"
          >
            <option value="">Choose a country</option>
            <optgroup label="">
              <option value="">United Kingdom</option>
              <option value="Fran">France</option>
              <option value="Netherlands">Netherlands</option>
              <option value="U.S.A">U.S.A</option>
              <option value="Denmark">Denmark</option>
              <option value="Canada">Canada</option>
              <option value="Australia">Australia</option>
              <option value="India">India</option>
              <option value="Germany">Germany</option>
              <option value="Spain">Spain</option>
              <option value="United Arab Emirates">United Arab Emirates</option>
            </optgroup>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
