<app-page-title title="Real Estate" subTitle="Add Property" />

<div class="row">
  <div class="col-xl-3 col-lg-4">
    <add-card />
  </div>

  <div class="col-xl-9 col-lg-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Add Property Photo</h4>
      </div>
      <div class="card-body">
        <FileUploader />
        <!-- <form action="/" method="post" class="dropzone bg-light-subtle py-5" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews" data-upload-preview-template="#uploadPreviewTemplate">
                      <div class="fallback">
                           <input name="file" type="file" multiple="multiple">
                      </div>
                      <div class="dz-message needsclick">
                           <i class="ri-upload-cloud-2-line fs-48 text-primary"></i>
                           <h3 class="mt-4">Drop your images here, or <span class="text-primary">click to browse</span></h3>
                           <span class="text-muted fs-13">
                                1600 x 1200 (4:3) recommended. PNG, JPG and GIF files are allowed
                           </span>
                      </div>
                 </form> -->
      </div>
    </div>

    <add-information />

    <div class="mb-3 rounded">
      <div class="row justify-content-end g-2">
        <div class="col-lg-2">
          <a href="javascript:void(0);" class="btn btn-outline-primary w-100"
            >Create Product</a
          >
        </div>
        <div class="col-lg-2">
          <a href="javascript:void(0);" class="btn btn-danger w-100">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
