<div class="row justify-content-center">
  <div class="col-xl-5">
    <div class="card auth-card">
      <div class="card-body px-3 py-5">
        <app-logo-box className="mx-auto mb-4 text-center auth-logo" />

        <h2 class="fw-bold text-uppercase text-center fs-18">Reset Password</h2>
        <p class="text-muted text-center mt-1 mb-4">
          Enter your email address and we'll send you OTP to registered Email
          <br />
          to reset your password.
        </p>

        <div class="px-4">
          <form (ngSubmit)="sendOtpToEmail()" #otpEmailForm="ngForm">
            <div class="mb-3">
              <label class="form-label" for="example-email">Email</label>
              <input type="email" id="example-email" name="email" [(ngModel)]="email"
                class="form-control bg-light bg-opacity-50 border-light py-2" placeholder="Enter your email" required
                email #emailInput="ngModel" />
              <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
                Please enter a valid email address.
              </div>
            </div>

            <div class="mb-1 text-center d-grid">
              <button class="btn btn-danger py-2 fw-medium" type="submit" [disabled]="otpEmailForm.invalid">
                Send OTP
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <p class="mb-0 text-center text-white">
      Back to
      <a routerLink="/auth/sign-in" class="text-reset text-unline-dashed fw-bold ms-1">Sign In</a>
    </p>
  </div>
</div>

<ng-template #firstModal let-modal class="modal fade" id="exampleModalToggle" aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggleLabel">
        Enter OTP
      </h5>
      <button type="button" class="btn-close" (click)="modal.close('click')"></button>
    </div>
    <form (ngSubmit)="verifyOtp()" #otpForm="ngForm">
      <div class="modal-body">
        <div class="mb-3">
          <label for="otp" class="form-label">Enter OTP</label>
          <input type="number" [(ngModel)]="otp" id="otp" name="otp" class="form-control" required minlength="4"
            maxlength="4" #otpInput="ngModel" />
          <div *ngIf="otpInput.invalid && otpInput.touched" class="text-danger">
            OTP is required and must be 4 digits.
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="otpForm.invalid">
          Verify OTP
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #secondModal let-modal class="modal fade" id="exampleModalToggle2" aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggleLabel2">
        Reset Password
      </h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
       <div class="modal-body">
      <label for="password">Enter New Password</label>
      <input type="password" [(ngModel)]="password" id="password" name="password" class="form-control">
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-secondary" (click)="modal.close('click')">
        Verify Password
      </button>
      <button (click)="modal.close()" (click)="openModal(firstModal, { centered: true })" class="btn btn-primary">
        Back to first
      </button>
    </div>
    </form>
  </div>
</ng-template>