<app-page-title title="Real Estate" subTitle="Ventures List" />

<div class="row">
  @for (item of stateList; track $index) {
    <div class="col-md-6 col-xl-3">
      <!-- <property-state [item]="item"></property-state> -->
    </div>
  }
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row justify-content-between">
          <div class="col-lg-6">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <form class="app-search d-none d-md-block me-auto">
                  <div class="position-relative">
                    <input type="search" class="form-control border-0" placeholder="Search..." [(ngModel)]="searchTerm"
                (ngModelChange)="onSearchChange($event)" [ngModelOptions]="{standalone: true}" />
                    <iconify-icon
                      icon="solar:magnifer-broken"
                      class="search-widget-icon"
                    ></iconify-icon>
                  </div>
                </form>
              </div>
              <div class="col-lg-4">
                <h5 class="text-dark fw-medium mb-0">
                 {{this.countOfVentures}}<span class="text-muted"> Ventures</span>
                </h5>
              </div>
            </div>
          </div>
          <!-- <div class="col-lg-6">
            <div class="text-md-end mt-3 mt-md-0">
              <button type="button" class="btn btn-outline-primary me-1">
                <i class="ri-settings-2-line me-1"></i>More Setting
              </button>
              <button type="button" class="btn btn-outline-primary me-1">
                <i class="ri-filter-line me-1"></i> Filters
              </button>
              <button type="button" class="btn btn-success me-1">
                <i class="ri-add-line"></i> New Agent
              </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <property-data />
  </div>
</div>
