<app-agenttopbar></app-agenttopbar>
<app-agentdashboard></app-agentdashboard>
<div class="main-layout">
    <div class="page-layout">
      <div class="container">
        <div class="header">

          <div class="form-group">
              <input type="text" id="title" formControlName="title" placeholder="title"/>
            </div>

            <div class="form-group">
                <input type="text" id="posted" formControlName="posted" placeholder="John"/>
              </div>
              
  
            <div class="form-group">
              <input type="text" id="dept" formControlName="dept" placeholder="IT"/>
            </div>
  
            <div class="form-group">
              <input type="date" id="date" formControlName="date"/>
            </div>
  
            <div class="form-group">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
      </div>
           <h2>Post Lists</h2>
            <div class="table-view">
            <table>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Message</th>
                  <th>Department</th>
                  <th>Audience</th>
                  <th>PostedBy</th>
                  <th>Active From</th>
                </tr>
              </thead>
              <tbody>
               <tr *ngFor="let post of posts">
               <td>{{ post.title }}</td>
               <td>{{ post.message }}</td>
               <td>{{ post.department }}</td>
                <td
      [ngClass]="{
        'highlight-audience': post.audience.toLowerCase().includes('agent')
      }"
    >
      {{ post.audience }}
    </td>
               <td>{{ post.postedBy }}</td>
               <td>{{post.startDate}}</td>
               </tr>
              </tbody>
             </table>
            </div>
        </div>
      </div>
    </div>

