<div class="modal-body">
  <div class="card border-0 mb-0 shadow-none">
    <div class="card-body p-0 pb-3">
      <div class="d-flex align-items-center gap-3">
        <a href="javascript:void(0);" class="rounded-circle">
          <div class="position-relative">
            <img
              src="assets/images/users/avatar-2.jpg"
              alt=""
              class="avatar-md rounded-circle flex-shrink-0 img-thumbnail"
            />
            <span class="position-absolute bottom-0 end-0 rounded-circle">
              <span class=""
                ><i
                  class="ri-verified-badge-fill fs-18 align-bottom text-primary bg-light rounded-circle"
                ></i
              ></span>
            </span>
          </div>
        </a>
        <div>
          <a href="javascript:void(0);" class="text-dark fw-semibold fs-18"
            >Ray C. Nichols</a
          >
          <p class="mb-0">raycnichols&#64;teleworm.us</p>
        </div>
        <div class="ms-auto">
          <span class="badge bg-primary-subtle text-primary py-1 px-2 fs-12"
            >Premium</span
          >
        </div>
      </div>
      <div
        class="p-3 bg-primary bg-gradient rounded-4 mt-4 border border-light border-2 shadow-sm"
      >
        <div class="d-flex align-items-center">
          <img src="assets/images/chip.png" alt="" class="avatar" />
          <div class="ms-auto">
            <img
              src="assets/images/card/mastercard.svg"
              alt=""
              class="avatar"
            />
          </div>
        </div>
        <div class="mt-5">
          <h4 class="text-white d-flex gap-2">
            <span class="text-white-50">XXXX</span>
            <span class="text-white-50">XXXX</span>
            <span class="text-white-50">XXXX</span> 3467
          </h4>
        </div>
        <div class="d-flex align-items-center justify-content-between mt-4">
          <div>
            <p class="text-white-50 mb-2">Holder Name</p>
            <h4 class="mb-0 text-white">Ray C. Nichols</h4>
          </div>
          <div>
            <p class="text-white-50 mb-2">Valid</p>
            <h4 class="mb-0 text-white">05/26</h4>
          </div>
          <img
            src="assets/images/contactless-payment.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="mt-4">
        <h4 class="text-dark fw-medium">Transactions History (2)</h4>
        <div class="d-flex align-items-center gap-3 mt-3 border p-2 rounded">
          <div class="avatar bg-primary bg-opacity-10 rounded">
            <iconify-icon
              icon="solar:square-transfer-horizontal-bold"
              class="fs-28 text-primary avatar-title"
            ></iconify-icon>
          </div>
          <div>
            <p class="mb-1 text-dark fw-medium fs-15">Michael A. Miner</p>
            <p class="text-muted mb-0">michaelminer&#64;dayrep.com</p>
          </div>
          <div class="ms-auto">
            <p class="mb-1 fs-16 text-dark fw-medium">
              {{ currency }}13,987
              <span
                ><i class="ri-checkbox-circle-line text-success ms-1"></i
              ></span>
            </p>
            <p class="mb-0 fs-13">TXN-341220</p>
          </div>
        </div>
        <div class="d-flex align-items-center gap-3 mt-3 border p-2 rounded">
          <div class="avatar bg-primary bg-opacity-10 rounded">
            <iconify-icon
              icon="solar:square-transfer-horizontal-bold"
              class="fs-28 text-primary avatar-title"
            ></iconify-icon>
          </div>
          <div>
            <p class="mb-1 text-dark fw-medium fs-15">Theresa T. Brose</p>
            <p class="text-muted mb-0">theresbrosea&#64;dayrep.com</p>
          </div>
          <div class="ms-auto">
            <p class="mb-1 fs-16 text-dark fw-medium">
              {{ currency }}2,710
              <span
                ><i class="ri-checkbox-circle-line text-success ms-1"></i
              ></span>
            </p>
            <p class="mb-0 fs-13">TXN-836451</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer border-top px-1">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <p class="mb-0 fs-15">Total Amount</p>
        </div>
        <div>
          <p class="mb-0 text-primary fw-semibold fs-16">
            {{ currency }}16,697
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
