<app-page-title title="Real Estate" subTitle="Add Agency" />

<div class="row">
    <form [formGroup]="registerAgency" (ngSubmit)="addAgency()">
        <div class="col-xl-9 col-lg-8">
            <!-- <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Agency Photo</h4>
                </div>
                <div class="card-body">
                    <FileUploader />
                </div>
            </div> -->

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Agency Information</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="agencyName" class="form-label">Agency Name</label>
                                <input type="text" id="agencyName" class="form-control" formControlName="agencyName"
                                    placeholder="Full Name" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="email" class="form-label">Agency Email</label>
                                <input type="email" id="email" class="form-control" formControlName="email"
                                    placeholder="Enter Email" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="password" class="form-label">Agency Password</label>
                                <input type="password" id="password" class="form-control" formControlName="password"
                                    placeholder="Enter Password" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="phoneNumber" class="form-label">Agency Number</label>
                                <input type="number" id="phoneNumber" class="form-control" formControlName="phoneNumber"
                                    placeholder="Enter Number" />
                            </div>
                        </div>
                        <!-- <div class="col-lg-6">
                            <form>
                                <div class="mb-3">
                                    <label for="properties-number" class="form-label">Properties Number</label>
                                    <input type="number" id="properties-number" class="form-control"
                                        placeholder="Enter Properties Number" />
                                </div>
                            </form>
                        </div> -->

                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label for="agencyAddress" class="form-label">Agency Address</label>
                                <textarea class="form-control" id="agencyAddress" rows="3" placeholder="Enter address"
                                    formControlName="agencyAddress"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="agencyPinCode" class="form-label">Zip-Code</label>
                                <input type="number" id="agencyPinCode" class="form-control" placeholder="zip-code"
                                    formControlName="agencyPinCode" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="city" class="form-label">City</label>
                                <input type="text" id="city" class="form-control" formControlName="city"
                                    placeholder="Enter City" />
                                <!-- <select selectFormInput class="form-control" id="choices-city"
                                        placeholder="Select City" name="choices-city">
                                        <option value="">Choose a city</option>
                                        <optgroup label="UK">
                                            <option value="London">London</option>
                                            <option value="Manchester">Manchester</option>
                                            <option value="Liverpool">Liverpool</option>
                                        </optgroup>
                                        <optgroup label="FR">
                                            <option value="Paris">Paris</option>
                                            <option value="Lyon">Lyon</option>
                                            <option value="Marseille">Marseille</option>
                                        </optgroup>
                                        <optgroup label="DE" disabled>
                                            <option value="Hamburg">Hamburg</option>
                                            <option value="Munich">Munich</option>
                                            <option value="Berlin">Berlin</option>
                                        </optgroup>
                                        <optgroup label="US">
                                            <option value="New York">New York</option>
                                            <option value="Washington" disabled>Washington</option>
                                            <option value="Michigan">Michigan</option>
                                        </optgroup>
                                        <optgroup label="SP">
                                            <option value="Madrid">Madrid</option>
                                            <option value="Barcelona">Barcelona</option>
                                            <option value="Malaga">Malaga</option>
                                        </optgroup>
                                        <optgroup label="CA">
                                            <option value="Montreal">Montreal</option>
                                            <option value="Toronto">Toronto</option>
                                            <option value="Vancouver">Vancouver</option>
                                        </optgroup>
                                    </select> -->
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="state" class="form-label">State</label>
                                <select selectFormInput class="form-control" id="state" placeholder="Select State"
                                    name="state" formControlName="state">
                                    <option value="">Choose a State</option>
                                    <optgroup label="India">
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="fbUrl" class="form-label">Facebook URL</label>
                                <input type="url" id="fbUrl" class="form-control" placeholder="Enter URL"
                                    formControlName="fbUrl" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="instagramUrl" class="form-label">Instagram URL</label>
                                <input type="url" id="instagramUrl" class="form-control" placeholder="Enter URL"
                                    formControlName="instagramUrl" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mb-3">
                                <label for="twitterUrl" class="form-label">Twitter URL</label>
                                <input type="url" id="twitterUrl" class="form-control" placeholder="Enter URL"
                                    formControlName="twitterUrl" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mb-3 rounded">
                <div class="row justify-content-end g-2">
                    <div class="col-lg-2">
                        <button type="submit" class="btn btn-outline-primary w-100">
                            Create Agency
                        </button>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-danger w-100">
                            Cancel
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>