

<div class="top-bar">
  <!-- Left Section: Logo and Page Title -->
  <div class="left-section">
    <img src="https://images.all-free-download.com/images/graphiclarge/agency_logo_elegant_modern_stylized_text_6929605.jpg" alt="Logo" class="topbar-logo"/>
    <h1 class="page-title">Welcome Agency</h1>
  </div>

  <!-- Center Section: Search Bar -->
  <div class="search-section">
    <input type="text" class="search-input" placeholder="Search..." />
    <i class="ri-search-line search-icon"></i>
  </div>

  <!-- Right Section: Icons and Profile -->
  <div class="right-section">
    <i class="ri-notification-3-line topbar-icon"></i>
    <div class="user-profile">
      <img src="assets/images/user.jpg" alt="User" class="user-avatar" />
      <span class="user-name">Purna Babu</span>
      <i class="ri-arrow-down-s-line dropdown-icon"></i>
    </div>
  </div>
</div>

<!-- -------------------------------------------------------------------------------------- -->
<div class="main-nav">
  <!-- Logo Image -->
  <img class="logo-img" src="" alt="">

  <!-- Menu Toggle Button -->
  <button
    type="button"
    class="menu-toggle-btn"
    (click)="changeMenuSize()"
    aria-label="Show Full Sidebar"
  >
    <i class="ri-menu-2-line menu-icon"></i>
  </button>

  <!-- Navigation Items -->
  <ngx-simplebar class="scrollbar">
    <ul class="navbar-nav" id="navbar-nav">
      @for (item of menuItems; track item.label; let first = $first) {
        @if (item.isTitle) {
          <li class="menu-title">{{ item.label }}</li>
        } @else {
          <ng-container
            *ngTemplateOutlet="
              hasSubmenu(item) ? MenuItemWithChildren : MenuItem;
              context: { menu: item, linkClassName: 'nav-link', itemClassName: 'nav-item' }
            "
          >
          </ng-container>
        }
      }
    </ul>
  </ngx-simplebar>
</div>

<!-- MenuItemWithChildren Template -->
<ng-template
#MenuItemWithChildren
let-menu="menu"
let-itemClassName="itemClassName"
let-linkClassName="linkClassName"
let-subMenuClassNames="subMenuClassNames"
>
<li [class]="itemClassName">
  <a
    [class]="linkClassName"
    [ngClass]="{ active: activeMenuItems.includes(menu.key) }"
    (click)="toggleMenuItem(menu, collapse)"
    role="button"
    [attr.aria-expanded]="!menu.collapsed"
    [attr.aria-controls]="menu.key"
  >
    <span *ngIf="menu.icon" class="nav-icon">
      <i [class]="menu.icon"></i>
    </span>
    <span class="nav-text">{{ menu.label }}</span>
  </a>
  <div
    #collapse="ngbCollapse"
    [(ngbCollapse)]="menu.collapsed"
    class="collapse"
  >
    <ul [class]="subMenuClassNames">
      @for (child of menu.children; track child.label) {
        <ng-container
          *ngTemplateOutlet="
            hasSubmenu(child) ? MenuItemWithChildren : MenuItem;
            context: { menu: child, linkClassName: 'sub-nav-link', itemClassName: 'sub-nav-item' }
          "
        >
        </ng-container>
      }
    </ul>
  </div>
</li>
</ng-template>

<!-- MenuItem Template -->
<ng-template
#MenuItem
let-menu="menu"
let-linkClassName="linkClassName"
let-itemClassName="itemClassName"
>
<li
  [class]="itemClassName"
  [ngClass]="{ active: activeMenuItems.includes(menu.key) }"
>
  <a
    [routerLink]="menu.url"
    [class]="linkClassName"
    [ngClass]="{
      active: activeMenuItems.includes(menu.key),
      disabled: menu.isDisabled
    }"
    [attr.aria-controls]="menu.key"
  >
    <span *ngIf="menu.icon" class="nav-icon">
      <i [class]="menu.icon"></i>
    </span>
    <span class="nav-text">{{ menu.label }}</span>
    <span *ngIf="menu.badge" class="badge badge-pill text-end bg-{{ menu.badge.variant }}">
      {{ menu.badge.text }}
    </span>
  </a>
</li>
</ng-template>


<!-- ------------------------------------------------------------------------------ -->
