<app-agenttopbar></app-agenttopbar>
<app-agentdashboard></app-agentdashboard>

<div class="main-layout">
    <div class="page-layout">
      <div class="container">
    
<form class="visit-form" [formGroup]="visitForm" (ngSubmit)="addVisit()">
 <div class="form-group">
  <label for="leadName">Lead Name</label>
  <select id="leadName" formControlName="leadName" required>
    <option value="" disabled selected>Select Lead Name</option>
    <option *ngFor="let lead of leads" [value]="lead.leadName">{{ lead.leadName }}</option>
  </select>
      <div class="error" *ngIf="f['leadName'].touched && f['leadName'].invalid">
      <small *ngIf="f['leadName'].errors?.['required']">LeadName is required.</small>
      </div>
</div>


  <div class="form-group">
    <label for="propertyType">property</label>
    <select id="propertyType" formControlName="propertyType" required>
      <option value="" disabled selected>Select Property</option>
      <option value="Villa">Villa</option>
      <option value="Apartment">Apartmnet</option>
      <option value="Independent">Independent</option>
    </select>
      <div class="error" *ngIf="f['propertyType'].touched && f['propertyType'].invalid">
      <small *ngIf="f['propertyType'].errors?.['required']">PropertyType is required.</small>
     </div>
  </div>

<div class="form-group">
  <label for="ventureId">Property Name</label>
  <select id="ventureId" formControlName="ventureId" required>
    <option value="" disabled selected>Select Venture</option>
    <option *ngFor="let venture of ventures" [value]="venture.ventureId">
      {{ venture.ventureName }}
    </option>
  </select>
  <div class="error" *ngIf="f['ventureId'].touched && f['ventureId'].invalid">
    <small *ngIf="f['ventureId'].errors?.['required']">Venture is required.</small>
  </div>
</div>


  <div class="form-group">
    <label for="visitDate">Visit Date</label>
    <input type="date" id="visitDate" formControlName="visitDate" required />
    <div class="error" *ngIf="f['visitDate'].touched && f['visitDate'].invalid">
    <small *ngIf="f['visitDate'].errors?.['required']">VisitDate is required.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="visitTime">Visit Time</label>
    <input type="time" id="visitTime" formControlName="visitTime" required />
    <div class="error" *ngIf="f['visitTime'].touched && f['visitTime'].invalid">
    <small *ngIf="f['visitTime'].errors?.['required']">visitTime is required.</small>
    </div>
  </div>

 

  <div class="form-group">
    <label for="notes">Agent Notes</label>
    <textarea id="notes" formControlName="notes" placeholder="Any specific instructions or notes..."></textarea>
  </div>

  <div class="form-group">
    <label for="customerFeedback">Customer Feedback</label>
    <textarea id="customerFeedback" formControlName="customerFeedback" placeholder="Feedback from the customer after the visit..."></textarea>
  </div>


  <div class="button">
    <button type="submit">Add Visit</button>
  </div>
</form>


        
    </div>
</div>
</div>

