<app-agenttopbar></app-agenttopbar>
<app-agentdashboard></app-agentdashboard>

<div class="main-layout">
    <div class="page-layout">
      <div class="container">

        <div class="form-container">
            <form>
                <div class="form-group">
                    <label for="leadName">Lead Name</label>
                    <input type="text" id="leadName" name="leadName" placeholder="Sai" required>
                </div>
        
                <div class="form-group">
                    <label for="property">Visited property</label>
                    <input type="text" id="property" name="property" placeholder="Alpha"  required>
                </div>
        
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" id="address" name="address" placeholder="Hyderabad" required>
                </div>
        
                <div class="form-group">
                    <label for="phoneNumber">Lead Phone Number</label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="7894561230" pattern="[0-9]{10}" required>
                </div>
        
                <div class="form-group">
                    <label for="remarks">Remarks From Customer</label>
                    <input type="text" id="remarks" name="remarks" placeholder="Hyderabad" required>
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
        
    </div>
</div>
</div>

