<div class="card">
  <div
    class="card-header d-flex justify-content-between align-items-center pb-1"
  >
    <div>
      <h4 class="card-title">Most Sales Location</h4>
    </div>
    <div ngbDropdown>
      <a
        ngbDropdownToggle
        class="btn btn-sm btn-outline-light rounded"
        role="button"
      >
        Asia
      </a>
      <div ngbDropdownMenu class="dropdown-menu-end">
        <a href="javascript:void(0);" class="dropdown-item">U.S.A</a>

        <a href="javascript:void(0);" class="dropdown-item">Russia</a>

        <a href="javascript:void(0);" class="dropdown-item">China</a>

        <a href="javascript:void(0);" class="dropdown-item">Canada</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12">
        <div id="most-sales-location" class="mt-3" style="height: 322px">
          <app-world-vector-map
            mapId="world-map-markers"
            type="world"
            [options]="worldMapConfig"
          ></app-world-vector-map>
        </div>
      </div>
    </div>
    <ngb-progressbar-stacked class="mt-5 overflow-visible" style="height: 25px">
      <ngb-progressbar
        type="primary"
        [value]="20"
        style="height: 25px"
        class="position-relative overflow-visible rounded-start"
      >
        <p
          class="progress-value text-start text-dark mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -50px !important"
        >
          Canada
        </p>
        <p
          class="progress-value text-start text-light mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -30px !important"
        >
          |
        </p>
        <p class="mb-0 text-start ps-1 ps-lg-2 text-white fs-14">71.1%</p>
      </ngb-progressbar>
      <ngb-progressbar
        type="primary"
        [value]="20"
        class="bg-opacity-75 position-relative overflow-visible"
        style="height: 25px"
      >
        <p
          class="progress-value text-start text-dark mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -50px !important"
        >
          USA
        </p>
        <p
          class="progress-value text-start text-light mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -30px !important"
        >
          |
        </p>
        <p class="mb-0 text-start ps-1 ps-lg-2 text-white fs-14">67.0%</p>
      </ngb-progressbar>
      <ngb-progressbar
        type="primary"
        [value]="20"
        class="bg-opacity-50 position-relative overflow-visible"
        style="height: 25px"
      >
        <p
          class="progress-value text-start text-dark mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -50px !important"
        >
          Brazil
        </p>
        <p
          class="progress-value text-start text-light mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -30px !important"
        >
          |
        </p>
        <p class="mb-0 text-start ps-1 ps-lg-2 text-white fs-14">53.9%</p>
      </ngb-progressbar>
      <ngb-progressbar
        type="primary"
        [value]="20"
        class="bg-opacity-25 position-relative overflow-visible"
        style="height: 25px"
      >
        <p
          class="progress-value text-start text-dark mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -50px !important"
        >
          Russia
        </p>
        <p
          class="progress-value text-start text-light mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -30px !important"
        >
          |
        </p>
        <p class="mb-0 text-start ps-1 ps-lg-2 text-white fs-14">49.2%</p>
      </ngb-progressbar>
      <ngb-progressbar
        type="primary"
        [value]="20"
        class="bg-opacity-10 position-relative overflow-visible"
        style="height: 25px"
      >
        <p
          class="progress-value text-start text-dark mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -50px !important"
        >
          China
        </p>
        <p
          class="progress-value text-start text-light mb-0 mt-1 fs-14 fw-medium"
          style="left: 0% !important; top: -30px !important"
        >
          |
        </p>
        <p class="mb-0 text-start ps-1 ps-lg-2 text-white fs-14">38.8%</p>
      </ngb-progressbar>
    </ngb-progressbar-stacked>
  </div>
</div>
